body{
    background: #eee;
    font-family: Arial;
}

/* Header */
.header{
    background: #5c88d1;
    padding: 20px;
    text-align: center;
    color: yellow;
}

/* Menu top */
.menu-top{
    background: #333;
    padding: 10px;
}

.menu-top a{
    color: white;
    margin-right: 25px;
    text-decoration: none;
    font-weight: bold;
}

/* Layout chính */
.container{
    display: flex;
    margin-top: 20px;
}

/* Menu trái */
.menu-left{
    width: 200px;
    background: #ddd;
    padding: 10px;
}

.menu-left ul{
    list-style: none;
    padding: 0;
}

.menu-left li{
    padding: 10px 5px;
    border-bottom: 1px solid #bbb;
}

/* Nội dung */
.content{
    background: white;
    padding: 30px;
    margin-left: 20px;
    width: 600px;
    border: 1px solid #ccc;
}

button{
    padding: 5px 12px;
    font-weight: bold;
}
