body {
    font-family: Arial, sans-serif;
    background: #edc1c1;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.header > h1 {
    margin: 20px;
    font-size: 42px;
    margin-left: 90px;
}

.slick {
    color: #ffffff;
    font-weight: bold;
}

.blackblack {
    color: #000000;
    font-weight: bold;
}

.menu {
    background: #4e0000;
    padding: 10px 0;
    margin-left: 90px;
    margin-right: 120px;
}

.menu > ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.menu > ul > li {
    margin-right: 140px;
}

.menu > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.menu ul li a:hover {
    background: #ff9999;
    color: #4e0000;
    border-radius: 4px;
}

.main {
    display: flex;
    padding: 20px 90px;
}

.sidebar {
    width: 220px;
    background: #b08a83;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.sidebar > ul {
    list-style: none;
    padding: 0;
}

.sidebar > ul > li {
    padding: 8px 0;
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 0 20px;
}

.content > h2 {
    margin-top: 0;
}

.footer {
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    color: white;
    opacity: 0.9;
}