/* Nền trang */
body {
    background: linear-gradient(135deg, #eaebc5, #b7d1bf);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form đăng nhập */
.login-box, .welcome-box {
    background: white;
    width: 320px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Input */
input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    margin-bottom: 15px;
    transition: 0.3s;
}

input[type="text"]:focus {
    border-color: #ede7be;
}

/* Button */
button, .logout-btn {
    background: #4facfe;
    border: none;
    color: white;
    padding: 10px 0px;
    width: 95%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
}

button:hover,
.logout-btn:hover {
    background: #0884ff;
}

/* Lỗi */
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.btn-edit, .btn-delete {
    padding: 6px 12px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    margin: 0 3px;
    font-size: 14px;
}

.btn-edit {
    background: #17a2b8;
}

.btn-edit:hover {
    background: #138496;
}

.btn-delete {
    background: #dc3545;
}

.btn-delete:hover {
    background: #c82333;
}
