body{
    background: #eee;
    font-family: Arial;
}

.header{
    background: #5c88d1;
    color: rgb(248, 248, 0);
    text-align: center;
    padding: 20px;
}

.menu-top{
    background: green;
    padding: 8px;
}

.menu-top a{
    text-decoration: none;
    margin: 30px;
    color: white;
}

.container{
    display: flex;
    margin-top: 0px;
}

.menu-left{
    width: 200px;
    background: #ddd;
    padding: 10px;
}

.menu-left ul{
    list-style: none;
    padding: 0;
}

.menu-left li{
    padding: 10px 5px;
    border-bottom: 1px solid #bbb;
}

.content{
    width: 500px;
    padding: 100px;
}

button{
    padding: 5px 12px;
}